body {
    background-color: rgb(172, 191, 241);
}

#header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

img {
    display:block;
    margin: auto;
}

h2 {
    text-align: left;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 36px;
}

p,
.links {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 40px;

}